@charset "UTF-8";
h5 {
color:#FFD900;
font-size:60px;
font-weight:bolder;
line-height:1.4;
background-color:#FFED94;
}
p {
color:#2B2B2B;
font-size:18px;
font-weight:lighter;
line-height:1.2;
padding: 0 100px;
background-color:white;
}
