@charset "UTF-8";
h1 {
color:#2B2B2B;
font-size:40px;
font-weight:bolder;
line-height:1.4;
background-color:white;
}

p {
color:#2B2B2B;
font-size:18px;
font-weight:lighter;
line-height:1.2;
padding: 0 100px;
background-color:white;
}
img{
padding: 0 40px;
}

p1{
padding: 0 160px;
}
p2{
padding: 0 170px;
}
p3{
padding: 0 80px;
}


h2 {
color:#2B2B2B;
font-size:30px;
font-weight:bolder;
line-height:1.4;
background-color:white;
}
table{
font-size:18px;
line-height:1.4;
padding: 0 80px;
}
