@charset "UTF-8";
h1 {
color:#FF7878;
font-size:60px;
font-weight:bolder;
line-height:1.4;
background-color:#FFD4D4;
}

p {
color:#2B2B2B;
font-size:18px;
font-weight:lighter;
line-height:1.2;
padding: 0 100px;
background-color:#FFD4D4;
background-padding:0 100px;
}

h2 {
color:#A3A3FF;
font-size:48px;
font-weight:bolder;
line-height:1.4;
background-color:#CCCCFF;
}

table{
font-size:18px;
line-height:1.4;
padding: 0 80px;
}
